<!DOCTYPE html>
<html ng-app="myApp">
<head>

  <base href="/">

  <title>myApp!!</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <link rel="icon" href="assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="//static.parastorage.com/services/third-party/fonts/Helvetica/fontFace.css">
  <!-- build:css assets/settings.css -->
  <!-- bower:css -->
  <!-- endinject -->
  <!-- inject:css -->
  <link rel="stylesheet" href="views/settings/styles/settings.css">
  <link rel="stylesheet" href="views/settings/styles/settings2.css">
  <!-- endinject -->
  <!-- endbuild -->

</head>
<body>


<div ng-view></div>

<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react-with-addons.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react-dom.min.js"></script>
<script src="//sslstatic.wix.com/services/js-sdk/1.66.0/js/wix.min.js"></script>
<!-- build:js scripts/angular_bundle.js -->
<!-- bower:js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
<script src="bower_components/angular-nl2br-filter/index.js"></script>
<!-- endinject -->
<!-- endbuild -->
<script src="https://static.parastorage.com/services/editor-ui-lib/1.22.0/lib/editor-ui-lib-angular.min.js"></script>
<!-- build:js scripts/settings.js -->
<!-- inject:js -->
<script src="views/settings/app.js"></script>
<script src="controllers/settings/settings.controller.js"></script>
<script src="views/settings/directives/directive2.js"></script>
<script src="views/settings/settings.js"></script>
<!-- endinject -->

<!-- endbuild -->


<script src="http://localhost:35729/livereload.js?snipver=1"></script>

</body>
</html>
