<wix-control name="UI.appSettings">
  <wix-control name="UI.panelTabs" ref="panelTabs" props="{defaultTabIndex: 0}" style="height:100%;">
    <div class="settings-tab" tab="('settings.tab.title'|translate)">
      <wix-control name="UI.button" props="{label: ('settings.tab.change'|translate), className: 'main-cta-btn',onClick: $ctrl.UIFuncs.btnClick}"></wix-control>
    </div>
    <div class="main-tab" tab="('main.tab.title'|translate)">
      <wix-control name="UI.toggleSwitch" ref="showLove"  ng-bind1="$ctrl.settings.show" wix-param="showLove"

                   ng-attr-props="{
                  label: 'Show counter',
                  defaultValue: $ctrl.settings.show,
                    onChange: $ctrl.UIFuncs.allowChange
                    }"></wix-control>

      <hr class="divider-long">
      <wix-control name="UI.textInput" ng-bind1="$ctrl.loveStart" ref="loveStart" props="{
                      title: 'Initial value',
                       validator: $ctrl.UIFuncs.inputChange,
                       invalidMessage : 'Positive numbers only',
                      defaultText:$ctrl.loveStart}">
      </wix-control>
    </div>

  </wix-control>
</wix-control>
