<wix-control name="UI.appSettings">
  <wix-control name="UI.panelTabs" ref="panelTabs" props="{defaultTabIndex: 0}" style="height:100%;">
    <div class="settings-tab" tab="('settings.tab.title'|translate)">
      <wix-control name="UI.button" props="{label: ('settings.tab.change'|translate), className: 'main-cta-btn',onClick: $ctrl.UIFuncs.btnClick}"></wix-control>
    </div>
    <div class="main-tab" tab="('main.tab.title'|translate)">
      <wix-control name="UI.toggleSwitch" ref="showdata"  ng-bind1="$ctrl.settings.show" wix-param="showdata"

                   ng-attr-props="{
                  label: ('settings.show_counter'|translate),
                  defaultValue: $ctrl.settings.show,
                    onChange: $ctrl.UIFuncs.allowChange
                    }"></wix-control>

      <hr class="divider-long">
      <wix-control name="UI.textInput" ng-bind1="$ctrl.dataStart" ref="dataStart" props="{
                      title: ('settings.initial_value'|translate),
                       validator: $ctrl.UIFuncs.inputChange,
                       invalidMessage : ('settings.positive_only'|translate),
                      defaultText:$ctrl.loveStart}">
      </wix-control>
    </div>

  </wix-control>
</wix-control>
